<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>SHOWERとは</h2>
            <p>数あるair dropを一人のMyetherwalletに集め<a href="https://ja.wikipedia.org/wiki/%E3%83%99%E3%83%BC%E3%82%B7%E3%83%83%E3%82%AF%E3%82%A4%E3%83%B3%E3%82%AB%E3%83%A0">ベーシックインカム</a>のようなシステムを構築することを目的として作られたアプリ  </p>
            <p>アプリ名はmany drops make a showerからきている<br>たくさんのair dropを集め、金の雨を降らせよう</p>
            <p>面白い人たちから一人選んでちょっとアシストしてみよう<br>一番簡単なair drop(３ step)を下のリンクにまとめておいた</p>
        </div>
    </div>
</section>
