<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>air drop link</h2>
                <p></p>
                <a href="http://kurokura.blog.jp/archives/8173288.html" class="btn btn-default btn-lg">Visit Link Page</a>
            </div>
        </div>
    </div>
</section>
